:root {
  --secondary-color: rgb(231, 180, 61);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  background: linear-gradient(
    -50deg,
    rgb(28, 38, 82) 50%,
    rgba(39, 45, 72, 0.9) 100%
  );
  color: aliceblue;
  overscroll-behavior: none;
}
.home {
  text-align: left;
}
/* ////////////////////////////////////////////// */
.header {
  padding: 10rem 7rem 7rem 15rem;

  position: fixed !important;
  left: 0 !important;
  z-index: 1 !important;
  width: 50%;
}
.header h1 {
  padding-left: 10%;
  color: var(--secondary-color);
  padding-bottom: 2rem;
  font-size: 7.5rem;
  font-weight: 500;
}
.header h3 {
  padding-left: 10%;

  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: 400;
}
.header p {
  padding-left: 10%;

  font-size: 1.8rem;
  padding-bottom: 2rem;
  font-weight: 300;
}
.header .icon {
  margin-top: 15px;
  margin-left: 6rem;
  width: 50px;

  height: 50px;
  border-radius: 10px;
  filter: brightness(0) saturate(100%) invert(79%) sepia(6%) saturate(628%)
    hue-rotate(190deg) brightness(95%) contrast(92%);
}
.header .icon:hover {
  transform: scale(1.1);
}
.profile {
  margin-top: 5em;
  margin-left: 10%;
  width: 50%;
  border-radius: 1000px;
  border: 1px solid rgb(2, 25, 24);
  filter: hue-rotate(60deg) saturate(300%);
}
/* ////////////////////////////////////////////// */
.main {
  width: 50%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  margin-left: 50%;
  padding-top: 10rem;
  padding-left: 5%;
  padding-right: 5%;
}
.about {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 5rem;
}
.about h2 {
  color: var(--secondary-color);
  padding-bottom: 5rem;
  font-weight: 400;
  font-size: 3rem;
}

/* ////////////////////////////////////////////// */
.about-nav {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid aliceblue;
}
.about-nav-list {
  list-style-type: none;
}
.about-nav-list li {
  width: 100%;
}
.about-nav-list button {
  color: aliceblue;
  border: 0.5px solid var(--secondary-color);
  background-color: rgb(41, 41, 73);
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.about-nav-list button:hover {
  background-color: rgb(60, 60, 79);
}

.about-nav-list a {
  color: aliceblue;
  border: 0.5px solid var(--secondary-color);
  background-color: rgb(41, 41, 73);
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.about-nav-list a:hover {
  background-color: rgb(60, 60, 79);
}

/* ////////////////////////////////////////////// */
.portfolio {
  margin-top: 5rem;
}
.portfolio h2 {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 3rem;
  /* margin-bottom: 5rem; */
}
.portfolio p {
  color: aliceblue;
  font-weight: 200;
  font-size: 1.6rem;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
.portfolio li {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.portfolio img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}
.portfolio img:hover {
  transform: scale(1.1);
}
/* ////////////////////////////////////////////// */
.footer {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 100;
  margin-top: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top: solid 1px var(--secondary-color);
}
.footer div {
  margin-top: 1rem;
  margin-bottom: 1rem;

  filter: brightness(0) saturate(100%) invert(79%) sepia(6%) saturate(628%)
    hue-rotate(190deg) brightness(95%) contrast(92%);
}
.footer a {
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer img {
  width: 3rem;
  border-radius: 6px;
}
.footer img:hover {
  transform: scale(1.1);
  width: 3rem;
  border-radius: 6px;
}
/* ////////////////////////////////////////////// */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: 2px solid var(--secondary-color);
  border-radius: 2%;
  width: 70%;
  background: linear-gradient(
    -50deg,
    rgb(28, 38, 82) 50%,
    rgba(39, 45, 72, 0.9) 100%
  );
  transition: all 0.5s;
  backdrop-filter: blur(7px);
}
.modal button {
  position: absolute;
  border: none;
  color: var(--secondary-color);
  top: 0%;
  right: 0%;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  background: transparent;
  cursor: pointer;
}
.modal-img {
  padding: 2%;
  width: 100%;
  border-radius: 30px;
}
.modal div {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.modal-icon {
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(79%) sepia(6%) saturate(628%)
    hue-rotate(190deg) brightness(95%) contrast(92%);
}
.modal-icon:hover {
  filter: brightness(0) saturate(100%) invert(79%) sepia(6%) saturate(628%)
    hue-rotate(190deg) brightness(70%) contrast(92%);
}

.modal p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  font-size: 2rem;
  font-weight: 200;
}
.modal ul {
  padding-left: 2%;
}

.modal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  width: 80%;
  font-size: 2rem;
  background-color: rgb(157, 160, 181);
  border-radius: 9px;
  color: rgb(32, 36, 72);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
}
.modal-link:hover {
  background-color: rgb(127, 129, 146);
}
/* ////////////////////////////////////////////// */
.modal-about {
  padding: 2.5rem;
  background: linear-gradient(290deg, rgb(24, 30, 53) 20%, rgb(37, 45, 73) 90%);
}
.modal-about h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.modal-about h2 {
  font-size: 2rem;
  font-weight: 400;
}
.modal-about p {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
}
.modal-about li {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
}
/* ////////////////////////////////////////////// */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 100;
}

/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */
